:root {
  --primary-text-color: #212121;
  --primary-bgc: #ffffff;
  --secondary: rgba(255, 255, 255, 0.6);
  --button-bgc: #ffffff;
  --title-color: #757575;
  --title-black: #2f303a;
  --accent-color: #2196f3;
  --bgc-button: #f5f4fa;
  --title-text-color: #000000;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bgc);
  font-family: "Roboto", sans-serif;
}

/* logo */

.logo {
  color: var(--title-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);
}

.logo-footer {
  color: var(--button-bgc);
}

/* шапка */
.header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}
.nav-list,
.info-list {
  margin: 0px;
  padding: 0px;

  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.06;
  list-style: none;
}
.nav-link.current {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
  margin-left: 93px;
}
.info-list {
  margin-left: auto;
}

.nav-list-li:not(:last-child),
.info-list-li:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  color: var(--primary-text-color);
}

.info-link {
  color: var(--title-color);
}
.nav-link,
.info-link {
  text-decoration: none;
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
}

.nav-list :hover,
.nav-list :focus {
  color: var(--accent-color);
}

.info-list :hover,
.info-list :focus {
  color: var(--accent-color);
  text-decoration: none;
  margin-left: auto;
  margin-left: 331px;
}

/* герой */

.hero {
  margin-top: 0px;
  padding: 200px 0;
  background: var(--title-black);
  text-align: center;
}
.hero-text {
  margin-top: 0px;
  margin-bottom: 30px;

  color: var(--primary-bgc);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero .hero-button {
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--primary-bgc);
  display: inline-block;
  align-items: center;

  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
}

.hero .hero-button:focus,
.hero .hero-button:hover {
  color: var(--primary-bgc);
  background-color: var(--accent-color);
}

/* section */

.section {
  margin: 0px;
  padding: 0px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature {
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  list-style: none;
  color: var(--primary-text-color);
}

.feature-section {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-basis: calc(100% / 4);

  list-style: none;
}

.feature-text {
  margin: 0px;
  padding: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  list-style: none;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.title {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.title,
.img {
  list-style: none;
}

.img {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  padding-bottom: 94px;
}

.img-t {
  flex-basis: calc(100% / 3);
  margin-left: 15px;
  margin-right: 15px;
}

.item {
  margin-top: 30px;
  margin-left: 30px;
}

/*наша команда */

.title {
  margin: 0px;
  padding: 0px;

  padding-bottom: 50px;
}

.team-info {
  background-color: var(--bgc-button);
}

.team-work {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
}

.team-card {
  margin-left: 15px;
  margin-right: 15px;
  flex-basis: calc(100% / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team {
  box-shadow: #757575;
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--button-bgc);
}

.team-list {
  margin: 0px;
  padding: 0px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-text {
  margin: 0px;
  padding: 0px;
  padding-top: 10px;

  color: var(--title-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

/* Футер  */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: inherit;
  background-color: var(--title-black);
  font-size: 14px;
}

.address {
  margin: 20px;
  padding: 0px;
}

.logo.log {
  margin: 0px;
  padding: 0px;
}

.footer-address {
  margin: 0px;
  padding: 0px;

  color: var(--primary-bgc);
  text-decoration: none;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address-navigate {
  margin: 0px;
  padding: 0px;

  color: var(--secondary);
  text-decoration: none;
  font-style: normal;
}

.info-list.link {
  margin: 0px;
  padding: 0px;
  margin-top: 9px;
}

/* Портфолио */
.list {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

/* кнопки в портфолио*/
.filter .filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background: var(--bgc-button);
  cursor: pointer;
  color: varvar(--accent-color);
  font-style: normal;
  text-align: center;
}
.filter-button-li {
  margin: 0px;
  padding: 0px;
  margin-left: 8px;
}
.filter .filter-button:hover,
.filter .filter-button:focus {
  color: var(--button-bgc);
  background-color: var(--accent-color);
}

.filter {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.portfolio.list {
  margin: 0px;
  padding: 0px;
  padding-top: 50px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfolio-item {
  width: 370px;
}

.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-item .portfolio-card {
  box-shadow: #eeeeee;
}

.portfolio-content {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
}
.portfolio-item-title {
  margin: 0px;
  padding: 0px;

  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-item-text {
  margin: 0px;
  padding: 0px;
  padding-top: 4px;

  color: var(--title-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
